
*.pyc
docs/_build/doctrees/environment.pickle
docs/_build/doctrees/index.doctree
docs/_build/html/.buildinfo
docs/_build/html/_sources/index.rst.txt
docs/_build/html/_static/ajax-loader.gif
docs/_build/html/_static/alabaster.css
docs/_build/html/_static/basic.css
docs/_build/html/_static/comment-bright.png
docs/_build/html/_static/comment-close.png
docs/_build/html/_static/comment.png
docs/_build/html/_static/custom.css
docs/_build/html/_static/doctools.js
docs/_build/html/_static/documentation_options.js
docs/_build/html/_static/down-pressed.png
docs/_build/html/_static/down.png
docs/_build/html/_static/file.png
docs/_build/html/_static/jquery-3.2.1.js
docs/_build/html/_static/jquery.js
docs/_build/html/_static/minus.png
docs/_build/html/_static/plus.png
docs/_build/html/_static/pygments.css
docs/_build/html/_static/searchtools.js
docs/_build/html/_static/underscore-1.3.1.js
docs/_build/html/_static/underscore.js
docs/_build/html/_static/up-pressed.png
docs/_build/html/_static/up.png
docs/_build/html/_static/websupport.js
docs/_build/html/genindex.html
docs/_build/html/index.html
docs/_build/html/objects.inv
docs/_build/html/search.html
docs/_build/html/searchindex.js
docs/conf.py
docs/index.rst
docs/make.bat
docs/Makefile
ipyvolume_3d_testing-Copy1.ipynb
ipyvolume_3d_testing.ipynb
temp-plot.html
catalysis/.ipynb_checkpoints/pynblast-checkpoint.py
.ipynb_checkpoints/ipyvolume_3d_testing-Copy1-checkpoint.ipynb
.ipynb_checkpoints/ipyvolume_3d_testing-checkpoint.ipynb
